@font-face {
	font-family: "Brown Regular";
  	src: url("../fonts/Brown-Regular.eot"); /* IE9*/
  	src: url("../fonts/Brown-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  	url("../fonts/Brown-Regular.woff2") format("woff2"), /* chromeã€firefox */
  	url("../fonts/Brown-Regular.woff") format("woff"), /* chromeã€firefox */
  	url("../fonts/Brown-Regular.ttf") format("truetype"), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
  	url("../fonts/Brown-Regular.svg#Brown Regular Regular") format("svg"); /* iOS 4.1- */
}
@font-face {
	font-family: "Brown Light";
  	src: url("../fonts/Brown-Light.eot"); /* IE9*/
  	src: url("../fonts/Brown-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  	url("../fonts/Brown-Light.woff2") format("woff2"), /* chromeã€firefox */
  	url("../fonts/Brown-Light.woff") format("woff"), /* chromeã€firefox */
  	url("../fonts/Brown-Light.ttf") format("truetype"), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
  	url("../fonts/Brown-Light.svg#Brown Light") format("svg"); /* iOS 4.1- */
}
*{
    font-family:'Brown Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.brown-light{
    font-family: 'Brown Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.brown-regular{
    font-family: 'Brown Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.myContainer{
    width: 100%;
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
}
.myContainerWithoutPadding{
    width: 100%;
    max-width: 1440px; 
    margin-left: auto;
    margin-right: auto;
}
.homeHeroOverlay1{
    background: transparent linear-gradient(91deg, #13100DDE 0%, #13100D00 100%) 0% 0% no-repeat padding-box;
}
.homeHeroOverlay2{
    background: var(--unnamed-color-003865) 0% 0% no-repeat padding-box;
    background: #003865 0% 0% no-repeat padding-box;
}
.roundkrna{
    height: calc(100% - 4px);
    width: calc(100% - 4px);
}
.gradient1{
    background: linear-gradient(to right, #00569c  0% ,  #00569c  25%,  #bfbdb9  26%, #bfbdb9 100%);
}
.gradient2{
    background: linear-gradient(to right, #00569c  0% ,  #00569c  42%,  #bfbdb9  43%, #bfbdb9 100%);
}
.gradient3{
    background: linear-gradient(to right, #00569c  0% ,  #00569c  60%,  #bfbdb9  61%, #bfbdb9 100%);
}
.gradient4{
    background: linear-gradient(to right, #00569c  0% ,  #00569c 100%);
}
.homeOverlay3{
    opacity: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.slide-active{
    display: flex;
    animation: 1s fade;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.tabsHeaderButton{
    cursor: pointer; 
}
.tab{
    display: none!important;
}
.tab.active{
    display: flex!important;
    animation: fade .5s;
}
@keyframes scale {
    0%{
        /* transform: scale(0.9); */
        opacity: 0;
    }
    50%{
        /* transform: scale(1.1); */
        opacity: 0.5;
    }
    100%{
        /* transform: scale(1); */
        opacity: 1;
    }
}

.tabsHeaderButton span::before{
    position:absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #ebc03f;
    transform: scaleX(0);
    transition: .4s all;
    
}
.tabsHeaderButton:hover span::before,.tabsHeaderButton.active span::before{
    
    transform: scaleX(1);
    
    
}
.mybrandIcon{
    /* width:1663.4px;
 
    height: 1108.93px; */
    bottom: -1080px;
    /* left: -312px; */
    /* transform: rotate(-11deg); */
    transform: matrix(0.95, -0.33, 0.33, 0.95, 0, 0);
    left: -1015px; 

}

.mybrandIcon img{
 width: 100%;
 height: 100%;
 clip-path: polygon(0 18%, 79% 22%, 52% 100%, 0% 100%);
opacity: 0.15;
clip-path: polygon(0 18%, 79% 19%, 52% 100%, 0% 100%);
transform: rotate(11deg);
 object-fit: cover;
}

.img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dropdown{
    background: #13100D 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00386533;
    opacity: 0;
    pointer-events: none;
}
.dropdownBtn:hover .dropdown{
    opacity: 1;
    pointer-events: initial;
}
.dropdownBtn:hover >span{
    color: #b89535;
}
.carouselcircleBlue{
    background-image: linear-gradient(
  180deg,
  hsl(207deg 100% 31%) 0%,
  hsl(207deg 100% 31%) 10%,
  hsl(207deg 100% 31%) 20%,
  hsl(207deg 100% 31%) 30%,
  hsl(207deg 100% 32%) 40%,
  hsl(207deg 100% 32%) 50%,
  hsl(207deg 100% 35%) 60%,
  hsl(207deg 100% 39%) 70%,
  hsl(207deg 100% 43%) 80%,
  hsl(207deg 100% 46%) 90%,
  hsl(207deg 100% 50%) 100%
);
}
.carouselcircleBlue:hover{
    background-image: linear-gradient(
  180deg,
  hsl(207deg 100% 41%) 0%,
  hsl(207deg 100% 41%) 10%,
  hsl(207deg 100% 41%) 20%,
  hsl(207deg 100% 41%) 30%,
  hsl(207deg 100% 42%) 40%,
  hsl(207deg 100% 42%) 50%,
  hsl(207deg 100% 45%) 60%,
  hsl(207deg 100% 49%) 70%,
  hsl(207deg 100% 53%) 80%,
  hsl(207deg 100% 56%) 90%,
  hsl(207deg 100% 60%) 100%
);
}

.readMoreContainer:hover .readMore{
    max-height: 50px;
}
.readMoreContainer:hover > img{
    transform: scale(1.2);
}
.readMore{
    max-height: 0px;
    transition: .4s;
    overflow: hidden;
}
.readMoreContainer{
    cursor: pointer;
} 
.delay-5s{
    animation-delay: .5s;
}
 input{
     outline: none;
 }

 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#googleMap > div{
    transform-style:preserve-3d;
    transform:perspective(auto) translateZ(-30vw) scale(1.4);
    perspective:1000;
}
.dark-gray {
    background-color: #1D1C1B;
}
.rightEdge{
    width:94.444%;
    max-width: calc((100vw - 1440px) / 2 + 1360px);
}
.rightEdgeCarousel{
    width: 100%;
}
.animating-line{
    animation: 2s animatedLine infinite 1s;
    width: 100%;
    height: 100%;
    background-color: #b89535;
    display: block; 
    
}
.bookmarkDivider{
  width: 11px;
  height: 1.5px;
  background-color: #b89535;
}
.bachalay::before{
    content: '';
    position: absolute;
    top: 23px;
    left: 0;
    width: 100%;
height:40px; 
background-color: transparent;
        }
.animating-line::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* background: #b8953580;  */
    background-color: red;
    height: 50%;
    z-index: 2;
}
 .owl-item{
     max-width: 1012px!important;
 }